#gamma-charactersheet {
  height: 85vh;
  display: grid;
  /* border: 1px solid red; */
  grid-gap: 0.5rem;
  grid-template-columns: 0.1fr 0.27fr 0.53fr 0.1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ".  si  tb  ."
    ".  si  tb  ."
    ".  si  tb  ."
    ".  si   .  ."
    ".  si   .  .";
}
.play {
  margin-top: 5px;
}

.tabs {
  grid-area: tb;
}

.char-image {
  grid-area: ig;
  /* background-color: blue; */
}

.buttons {
  grid-area: bn;
  /* background-color: seashell; */
}

.soft-info {
  grid-area: si;
}

.abilities {
  grid-area: ab;
  /* background-color: purple; */
  /* display: grid;
  grid-template-columns: 1fr 4fr; */
  display: flex;
  /* border: 1px solid red; */
}
.abilities input {
  width: 20%;
}
.abilities .a-mod {
}

.saves {
  grid-area: sv;
  /* background-color: red; */
  display: flex;
}

.def-abilities {
  grid-area: da;

  /* background-color: snow; */
}
/* .defenses {
  display: flex;
  flex-direction: column;
} */

.novice-skills {
  grid-area: ns;
  /* background-color: lightcyan; */
}

.health {
  grid-area: hp;
  /* background-color: grey; */
}

.skills {
  grid-area: sk;
  display: flex;
  justify-content: space-around;
  /* background-color: chartreuse; */
}

.inventory {
  grid-area: in;
}

.gear {
  grid-area: gr;
}

.weapons {
  grid-area: wp;
}

.v-messages__message {
  font-size: 14px !important;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

#hp {
  margin-left: 5px;
}
